<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fr3 urdf file -->
    <xacro:include filename="$(find franka_description)/robots/fr3/fr3.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="fr3.ros2_control.xacro" />


    <xacro:fr3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
